html,
body {
  background-color: #00181f;
  color: white;
}

.boardContainer {
  background-color: #404040;
  border-radius: 1rem;
  min-height: 480px;
  margin-bottom: -9rem;
  padding: 1rem 1rem 5rem 1rem;
}

#board {
  --light-color: #e6f2ff;
  --dark-color: #002b40;
  --highlight-color: #ffff00;
}

#stats {
  font-size: 2rem;
  font-weight: 700;
}

[id*="Possible"] {
  color: #00FF00;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.animated-number {
  transition: --num 0.5s;
  counter-set: num var(--num);
}

.animated-number::after {
  content: counter(num);
}
